.style01 {
    color: inherit;
    text-decoration: none;
    transition: transform 0.3s ease;
    /* Agrega una transición suave */
}

.cardStyleGlass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.style02 {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.style03 {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    /* align-items: start; */
    justify-content: flex-start;
}

.styleImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-right: 0.5rem;
}

.styleImageProject {
    width: 350px;
    border-radius: 5px;
    /* padding: 1rem; */
}

.styleDataContainer {
    padding-left: 0.5rem;
    /* width: 100%; */
    /* opacity: 0; */
}

.styleTextTechnologies {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Onest, sans-serif;
    text-align: left;
    color: #FEF08A;
    /* margin-top: 2em;
    margin-bottom: 1em; */
    padding: 0 2rem 2rem 2rem;
    width: 100%;
}

.styleTextTitle {
    font-family: Onest, sans-serif;
    text-align: left;
    color: #FEF08A;
    width: 100px;
}
